{
	"api_kraken": "Remove if not used / remove in production",
	"api_helix": "Remove if not used / remove in production",
	"api": "Remove if not used / remove in production",
	"client_id": "",
	"client_id_twitch": "",
	"log_level": "INFO/DEBUG/EXTRA/VERBOSE",
	"enable_ads": false,
	"ad_nielsen_id": "",
	"google_analytics_id": ""
}