<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2017 Rolando Islas. All Rights Reserved. -->
<component name="Settings" extends="Group">
	<children>
	
		<LabelList 
			id="menu"
			itemSize="[525,72]"
    		focusBitmapUri="pkg:/locale/default/images/list_selection.9.png"
    		focusBitmapBlendColor="0x6441a4"
    		focusFootprintBitmapUri=
    			"pkg:/locale/default/images/list_selection.9.png"
    		focusFootprintBlendColor="0x281942"
    		vertFocusAnimationStyle="fixedFocusWrap"
    		focusedColor="0xffffff"
    		color="0xffffff" >
    		<ContentNode role="content" />
    	</LabelList>
    	
    	<Label
			id="title"
			width="450"
			height="150"
			translation="[600, 0]"
			horizAlign="center"
			vertAlign="center"
			wrap="true"
			numLines="1"
			maxLines="1"
			font="font:LargeBoldSystemFont" />
			
		<Label
			id="message"
			width="525"
			height="900"
			translation="[600, 150]"
			horizAlign="left"
			vertAlign="top"
			wrap="true"
			numLines="6"
			maxLines="6"
			font="font:SmallSystemFont" />
			
		<CheckList
			id="checklist"
			visible="false"
			translation="[600,150]"
			itemSize="[450,72]"
			textHorizAlign="left" >
			<ContentNode role="content" />
		</CheckList>
		
		<RadioButtonList
			id="radiolist"
			visible="false"
			translation="[600,150]"
			itemSize="[450,72]"
			textHorizAlign="left" >
			<ContentNode role="content" />
		</RadioButtonList>

	</children>

	<interface>
		<!-- Fields -->
		<field id="focus" type="boolean" alwaysNotify="true" />
		<field id="authenticated" type="boolean" />
		<field id="sign_out_in" type="string" alwaysNotify="true" />
		<field id="language" type="array" alwaysNotify="true" />
		<field id="quality" type="string" alwaysNotify="true" />
		<field id="hls_local" type="boolean" alwaysNotify="true" />
	</interface>

	<script type="text/brightscript" uri="pkg:/components/Settings.brs" />
	<script type="text/brightscript" uri="pkg:/components/Util.brs" />
</component>